#movieSearchLabel {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.2rem;
}

#movieSearchInput {
	width: calc(90% - 2px);
	display: inline-block;
	padding: 0;
	margin-right: 1%;
}

#movieSearchButton {
	width: calc(9% - 2px);
	display: inline-block;
	padding: 0;
}

#searchStatus {
	text-align: center;
}

.addToWatchListButton {
	margin-right: 0.5rem;
}

.addToWatchedListButton {
	margin-left: 0.5rem;
}

.movieCardButton {
	vertical-align: top;
	width: calc(50% - 2px - 0.5rem);
	margin-bottom: 1rem;
}

.movieCardFormSpace {
	text-align: center;
}

.movieCardForm {
	display: none;
}

.movieCardForm > label {
	margin-right: 1rem;
}

.movieCardForm > button {
	display: block;
	margin: auto;
	margin-top: 0.5rem;
	width: 33%;
}

.movieCardWeightInput {
	width: 15%;
}

.formsStatus {
	display: none;
}

@media (min-width: 900px) {
	.movieCardWeightInput {
		width: 5%;
	}

	.movieCardForm > button {
		width: 15%;
	}
}
