.collapsibleSection {
	margin-bottom: 1rem;
	border: 1px solid black;
}

.headingButton {
	all: unset;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.headingButton > h2 {
	display: inline-block;
	width: 90%;
}

.headingButton > p {
	display: inline-block;
	margin-right: 1rem;
	width: calc(10% - 1rem);
	background-color: ButtonFace;
}

.content {
	padding-left: 2rem;
	padding-right: 2rem;
}
