#navContainer {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#logo {
	display: inline-block;
	width: 90%;
	text-align: center;
	margin: 0;
}

#mobileHamburgerButton {
	display: inline-block;
	width: calc(10% - 2px);
	padding: 0;
}

#navList {
	padding: 0;
	margin: 0;
	--nav-mobile-display: none;
	display: var(--nav-mobile-display);
}

#navList > li {
	display: block;
}

#navList > li > a {
	display: block;
	text-align: center;
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.active {
	background-color: dodgerblue;
}

#navList > li > a:hover {
	background-color: deepskyblue;
}

@media (min-width: 900px) {
	#logo {
		width: 25%;
		text-align: left;
	}

	#mobileHamburgerButton {
		display: none;
	}

	#navList {
		display: inline-block;
		width: 75%;
	}

	#navList > li {
		display: inline-block;
	}

	.navListItemLoggedIn {
		width: calc(100% / 6);
	}

	.navListItemNotLoggedIn {
		width: calc(100% / 4);
	}
}
