#navContainer {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#logo {
	display: inline-block;
	width: 90%;
	text-align: center;
	margin: 0;
}

#mobileHamburgerButton {
	display: inline-block;
	width: 10%;
	padding: 0;
	border: 0;
}

#navList {
	padding: 0;
	margin: 0;
	--nav-mobile-display: none;
	display: var(--nav-mobile-display);
}

#navList > li {
	display: block;
}

#navList > li > a {
	display: block;
	text-align: center;
	width: 100%;
}

#navList > li > a:hover {
	background-color: lightblue;
}

@media (min-width: 900px) {
	#logo {
		width: 25%;
		text-align: left;
	}

	#mobileHamburgerButton {
		display: none;
	}

	#navList {
		display: inline-block;
		width: 75%;
	}

	#navList > li {
		display: inline-block;
		width: 50%;
	}
}
